---
import avatar from '@assets/img/StepsJobsImagen.png'
import discord from '@assets/img/Discord_logo2.png'
import instagram from '@assets/img/Instagram_logo2.png'
import twitter from '@assets/img/Twitter_logo2.png'
---
<style>
    #Info h2 {
        color: blue;
        display: flex;
        justify-content: center;
        font-size: 30px;
    }

    #WeTeam {
        display: flex;
        flex-wrap: wrap;
    }

    .infoPublic {
        width: 311px;
        height: 332px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1 1 calc(33% - 80px);
        border: 10px;
        margin: 40px;
        border-radius: 30px;
        border-color: black;
        box-shadow: 7px 4px 21px 0px rgba(0, 0, 0, 25%);
        padding-top: 20px;
    }

    #AndryMorayInfo, #AlmaktariInfo {
        margin-top: 20px;
        margin-bottom: 60px;
    }

    .firstInfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50%;
        margin-bottom: 30px;
    }

    .imgInfo {
        box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 5%);
        border-radius: 100%;
        padding: 12px;
        width: 32%;
        height: auto;
        aspect-ratio: 1/1;

    }
    .textInfo {
        color: rgb(72, 86, 216);
    }

    .nameInfo {
        font-size: 2em;
        margin: 6%;
        margin-bottom: 12px;
    }

    .rolInfo{
        font-size: 1.2em;
        margin-top: 0px;
        margin-bottom: 12px;
    }

    .botonesInfo{
        margin: 30px;
        display: flex;
        gap: 10px;
    }

    .botonweteam {
        background-color: white;
        width: 5%;
        height: calc(width);
        margin: 5px;

    }

    .botonweteam:hover{
        background-color: aqua;
    }

    .ImgButtonInfo {
        height: 18px;
    }
</style>
<div class="infoPublic" id="StepsJobsInfo">
    <div class="firstInfo">
        <img src={avatar.src} alt="stepsImagen" class="imgInfo">
        <b class="textInfo nameInfo" id="NameInfoSteps">Steps Jobs</b>
        <p class="textInfo rolInfo" id="RolInfoSteps">Artist</p>
    </div>
    <div class="botonesInfo">
        <a class="bottonweteam"><img src={twitter.src} alt="Twitter" class="ImgButtonInfo"></a>
        <a class="bottonweteam"><img src={instagram.src} alt="Instagram" class="ImgButtonInfo"></a>
        <a class="bottonweteam"><img src={discord.src} alt="Discord" class="ImgButtonInfo"></a>
    </div>
</div>