---
import imgEvent from '@assets/img/pexels.jpg';

---

<seccion class="seccion1">
    <figure class="absolute overflow-hidden rounded-xl max-w-72 w-60 h-64">
        <img class="absolute w-full object-cover"  src={imgEvent.src} alt="imagen"/>
    </figure>
    <section class="content_text rounded-xl bg-black/[.15] text-center px-6 py-6 absolute text-white flex justify-between flex-col w-60 h-64">
        <p class="font-title text-lg">Develop a clear vision of
            where your business is
            heading</p>
        <p class="text-xs">You’ll have a repeatable process in place
            that gives you the confidence to make long-
            term business decisions.</p>
    </section>
</seccion>