---
import LogoIEEE from '@assets/branding/ieee mb blue.png';
import {menuItem} from "@utils/menu";



---

<header class="bg-white h-24 flex items-center justify-around shadow">
    <figure class="h-16">
        <a href="/" rel="noreferrer">
            <img class="h-full" src={LogoIEEE.src} alt="IEEE Logo " title="IEEE Logo">
        </a>
    </figure>
    <nav>
        <ul class="flex items-center gap-4">
            {
                menuItem.map(item =>
                        <li>
                            <a class=`text-blueProject font-bold text-lg ${item.url === Astro.url.pathname && 'text-greenProject'}` href={item.url}>
                                {item.name}
                            </a>
                        </li>
                )
            }
        </ul>
    </nav>
</header>