    ---

    ---
    
    
    <section class="bg-gray-900 p-6 max-w-4xl mx-auto">
        <section class="max-w-4xl mx-auto">
            <section class="mb-8">
                <h2 class="text-3xl font-semibold text-gray-800 mb-2">
                    ¿Qué es la IEEE para nosotros?
                </h2>
                <p class="text-gray-600">Representa</p>
            </section>

        <style>
            .open-box {
                width: 622px;
                height: 258px;
                background-color: #5068338f;    
                padding: 20px;
                margin: 10px 0;
                color: #f5f5f5;
                border-radius: 39px;
            }
            .open-box div:first-child {
                display: flex;
                justify-content:space-between;
                align-items: center;
                padding-left: 6px;
            }

            .open-box span:first-child {
                font-weight: 800;
            }
            .open-box span:nth-child(2) {
                
            }
            .open-box button {
                width: 38px;
                border-radius: 50%;
                font-size: 29px;
                cursor: pointer;
                padding: 8px 0px 8px 7px;
            }

            .open-box p{
                font-size: 16px;
                padding-right: 20px;
            }


            
        </style>
        <section class="open-box closed-box bg-greenShow-53">
            <div class="mb-10 pt-3 pr-3">
                <div>
                    <span class="text-3xl pr-8">04</span> 
                    <span class="text-2xl">Excelencia</span>
                </div>
                <button class="bg-white text-shark rounded-full"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
</svg></button>
            </div>
            <div class="text-justify px-6">
                <p>
                    · La excelencia inspira y motiva a los miembros del IEEE a superarse constantemente y a alcanzar los más altos estándares de desempeño y calidad en sus proyectos y actividades.
                </p>
            </div>
        </section>
    </section>

